# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Poetry virtual environment (if created in-project)
.env
.venv
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEs/editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Project files
book_reviews-*.xml
*.xls
*.xlsx
*.csv
*.tmp
*.log


# directories -- we don't want that data online
/data
/output  